<h1>Mandrill Form Sample Template</h1>
{{ if manform:success }}
<p><strong>Booyah!</strong></p>
{{ endif }}

{{ manform:errors }}
	
	<h4>Please correct the following submission errors:</h4>

	{{ if missing }}
		{{ missing }}
			<p>{{ error }}</p>
		{{ /missing }}
	{{ endif }}

{{ /manform:errors }}

{{ manform
	form_name="sample"
	to_email="test@test.com"
	to_name="Testing"
	cc=""
	bcc=""
	from_email="test@test.com"
	from_name="Mandril Formm Test"
	subject="Mandrill Form Test"
	send_user_email="true"
	user_email="email"
	user_to_name="first_name"
	user_html_template=""
	user_plain_text_template=""
	user_subject="User Email Test"
	form_id="mandrill-form"
	form_class=""
	html_template="email.html"
	plain_text_template="email.txt"
	required_fields="first_name|last_name|options"
	required_fields_messages="First Name is a required field.|Last Name is a required field.|Please select an option."
	use_merge_vars="1"
	enable_spam_killah="true"
	spam_killah_redirect=""
	success_redirect=""
	error_redirect=""
	enable_logging="true"
}}

	{{ if error }}
		<h1>Whoops, there were errors!</h1>
		<ul>
		{{ errors }}
			<li>{{ error }}</li>
		{{ /errors }}
		</ul>
	{{ endif }}

	{{ if success }}
		<h2>Success!</h2>
		{{# redirect to="/rsvp/thanks" #}}
	{{ else }}

	{{# Start form #}}
	<fieldset>
		<p>
			<label for="first_name">First Name</label>
			<input type="text" name="first_name" value="{{ manform:post name="first_name" }}" />
		</p>
		<p>
			<label for="last_name">Last Name</label>
			<input type="text" name="last_name" value="" />
		</p>
		<p>
			<label for="email">Email Address</label>
			<input type="email" name="email" value="" />
		</p>
		<p>
			<label for="message">Message</label>
			<textarea name="message" id="message" cols="30" rows="10">{{ manform:post name="message" }}</textarea>
		</p>
		<p>
			<select name="options" id="options">
				<option value="">Please select an option</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
				<option value="4">Four</option>
				<option value="5">Five</option>
			</select>
		</p>
		<p>
			<input type="submit" name="submit" value="Submit" />
		</p>
	</fieldset>
	{{# End form #}}

	{{ endif }}

{{ /manform }}